mixin radio-buttons(name, value, text= '', type='radio')
  label.radio-style
    input(type=type, name=name, value=value class='radio-buttons')
    p= text 

+radio-buttons('gender', 'man', 'Мужчина')
+radio-buttons('gender', 'woman','Женщина')