mixin benefits(icon= '', title= '', text= '')
  .benefits 
    p.material-icons.icon= icon
    .info 
      p.info_title= title
      p.info_text= text
    
//- +benefits('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
//- +benefits('location_city', 'Удобство', 'Окно в каждой из спален')

