mixin benefits(icon= '', title= '', text= '')
  .benefits 
    p.material-icons.benefits__icon= icon
    .info 
      p.info__title= title
      p.info__text= text
    
//- +benefits('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
//- +benefits('location_city', 'Удобство', 'Окно в каждой из спален')

