mixin date-dropdown(placeholder='', type='text')
  .date-dropdown
    input(placeholder=placeholder type=type class='date-dropdown__date')
    button.material-icons expand_more

+date-dropdown('ДД.ММ.ГГГГ')