mixin date-dropdown(placeholder='ДД.ММ.ГГГГ', type='text')
  .date-dropdown
    input(placeholder=placeholder type=type class='date-dropdown__date')
    button.material-icons expand_more

+date-dropdown