mixin subscription-text-field(placeholder='', type='email')
  .subscription-text-field
    input(placeholder=placeholder type=type class='subscription-text-field__email')
    button.material-icons arrow_forward

//- +subscription-text-field('Email')