mixin pagination
  .pagination
    .pages
      a(href="#").pages__first 1
      a(href="#") 2
      a(href="#") 3
      a(href="#") ...
      a(href="#") 15
      a(href="#").material-icons.pages__arrow arrow_forward
    p.pagination__text 1 – 12 из 100+ вариантов аренды 

//- +pagination