.pagination {
  margin: 20px;
  max-width: 241px;
  max-height: 76px;

  .pages {
    display: flex;

    a {
      width: 40px;
      height: 40px;

      font-size: 12px;
      line-height: 15px;
      color: rgba(31, 32, 65, 0.5);

      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .pages__first {
      width: 40px;
      height: 40px;

      position: relative;
      left: -3px;

      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;

      &:before {
        content: '';

        position: absolute;
        top: 1px;
        left: 1px;

        z-index: -1;

        display: inline-block;

        width: 40px;
        height: 40px;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
      }
    }

    .pages__arrow {
      position: relative;
      top: 1px;
      left: -1px;

      font-size: 24px;
      line-height: 20px;
      color: #FFFFFF;

      &:before {
        content: '';

        position: absolute;

        z-index: -1;

        display: inline-block;

        width: 40px;
        height: 40px;

        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 22px;
      }
    }
  }

  .pagination__text {
    margin: 9px 0 0 4px;

    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
}