.like-button {
  width: 40px;
  height: 20px;

  padding-left: 4px;

  display: flex;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;

  .material-icons {
    width: 20px;

    align-self: center;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 10px;
    line-height: 9px;
    color: rgba(31, 32, 65, 0.25);
  }

  .like-button__count {
    width: 30px;

    margin-top: -1px;

    align-self: center;

    font-size: 10px;
    line-height: 12px;
    color: rgba(31, 32, 65, 0.25);
  }
}

.like-button_active {
  border-color: #BC9CFF;

  .material-icons {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .like-button__count {
    color: #BC9CFF;
  }
}