mixin checkbox-buttons(name, value, text= '', type='checkbox')
  label.checkbox-style
    input(type=type, name=name, value=value class='checkbox-buttons')
    p= text 

+checkbox-buttons('conveniences', 'smoking', 'Можно курить')
+checkbox-buttons('conveniences', 'pets','Можно с питомцами')
+checkbox-buttons('conveniences', 'guests','Можно пригласить гостей (до 10 человек)')