.rules {
  max-width: 240px;
  max-height: 216px;
  margin-left: 30px;
  
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);

  li {
    position: relative;
    margin-bottom: 10px;
    &::before {
      content: "";

      display: inline-block;

      position: absolute;
      top: 7.45px;
      left: -21px;

      width: 10.43px;
      height: 10px;

      border-radius: 50%;
      background:  rgba(31, 32, 65, 0.25);
    }
  }
}


