link(href='https://fonts.googleapis.com/icon?family=Material+Icons' 
rel='stylesheet')
.button 
  button.button_click__background click me 
  button.button_click__border click me 
  button.button_click__text click me 
  button.button_payment 
    span.text перейти к оплате 
    span.material-icons arrow_forward  