mixin button(mode, text='', typeButton='button')
  if mode=='button-payment'
    button(class=mode, type=typeButton)
      span.button-paymen__text= text
      span.material-icons.button-paymen__arrow arrow_forward 
  else  
    button(class=mode, type=typeButton)= text

//- +button('button-background', 'click me') // кнопка с фоном
//- +button('button-border', 'click me') // кнопка с градиентной границей
//- +button('button-text', 'click me') // кнопка в виде текста
//- +button('button-payment', 'перейти к оплате') // большая кнопка со стрелкой