link(href='https://fonts.googleapis.com/icon?family=Material+Icons' 
rel='stylesheet')

doctype html
html(lang="en")
  body
    //- include  ./elements/text-field/text-field.pug
    //- include  ./elements/bullet-list/bullet-list.pug
    //- include ./elements/buttons/buttons.pug
    //- include ./elements/checkbox-buttons/checkbox-buttons.pug
    //- include ./elements/radio-buttons/radio-buttons.pug
    //- include ./elements/toggle/toggle.pug
    //- include ./elements/rate-button/rate-button.pug
    //- include ./elements/benefits/benefits.pug
    //- include ./elements/rich-checkbox-buttons/rich-checkbox-buttons.pug
    //- include ./elements/pagination/pagination.pug
    